# Code Dependencies
Django==5.1.1
django-tailwind
pytailwindcss

# Additional Dependencies
djangorestframework==3.16.1
channels
daphne
websockets

# Database
dj-database-url==3.1.2
psycopg2-binary

# Image & Video Storage
django-cloudinary-storage
Pillow

# Virtual Environment
python-dotenv

# Production Dependencies
gunicorn
whitenoise[brotli]==6.7.0
