<footer class="py-6 text-center text-xs text-gray-500 border-t border-gray-800 glass-panel flex-shrink-0">
    <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center h-full">
        <p>&copy; {% now "Y" %} ChatSphere. All rights reserved.</p>
        <p class="my-2 md:my-0 text-sm">Built with <i class="ri-heart-fill text-red-500 text-sm"></i> by <a href="https://portfolio-neeraj-puce.vercel.app/" target="_blank" class="text-purple-400 hover:text-purple-300 transition-colors font-semibold">Neeraj Ojha</a></p>
        <div class="flex space-x-6 items-center text-lg">
            <a href="https://www.github.com/neerajojha1855/" target="_blank"
                class="text-gray-400 hover:text-purple-500 transition-colors text-xl" title="GitHub">
                <i class="ri-github-fill"></i>
            </a>
            <a href="https://www.linkedin.com/in/neeraj-ojha-422b3b375/" target="_blank"
                class="text-gray-400 hover:text-purple-500 transition-colors text-xl" title="LinkedIn">
                <i class="ri-linkedin-box-fill"></i>
            </a>
            <a href="https://www.instagram.com/_neeraj_og/" target="_blank"
                class="text-gray-400 hover:text-purple-500 transition-colors text-xl" title="Instagram">
                <i class="ri-instagram-line"></i>
            </a>
        </div>
    </div>
</footer>