<footer class="py-6 text-center text-xs text-gray-500 border-t border-gray-800 glass-panel flex-shrink-0">
    <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center h-full">
        <p>&copy; {% now "Y" %} ChatSphere. All rights reserved.</p>
        <p class="my-2 md:my-0">Made with ❤️ by <a href="mailto:nojha1855@gmail.com"
                class="text-blue-400 hover:text-blue-300">Neeraj Ojha</a>
        </p>
        <div class="flex space-x-6 items-center text-lg">
            <a href="https://www.github.com/neerajojha1855/" target="_blank"
                class="text-gray-400 hover:text-blue-800 transition-colors" title="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com/_neeraj_og/" target="_blank"
                class="text-gray-400 hover:text-pink-500 transition-colors" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/neeraj-ojha-422b3b375/" target="_blank"
                class="text-gray-400 hover:text-blue-400 transition-colors" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>